@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Torne-se um programador</h1>
    <p>Exemplo aula do <a href="https://www.torneseumprogramador.com.br/">conteúdo de .Net do torne-se um programador</a>.</p>
</div>
